<div class = "child-page">
    <div class = "allImages">
        <div class="primary-image-container">
            <div ng-show="show" class="image-label">
                <owner-label></owner-label>
            </div>
            <div class="primary-image-holder">
                <img class = "primary-image" ng-src="{{imageContainer[0].download_url}}">
                <button class= "show-button button" ng-click="show=!show">{{show ? '-' : '+'}}</button>
                <div class = "button-holder">
                    <button class = "right-button button" ng-click="goRight()">></button>
                </div>
            </div>
        </div>
        <div class = "secondary-image-container">
                <div class = "secondary-image-holder"  ng-repeat = "image in imageContainer  | limitTo:10">
                    <img class = "secondary-image" ng-src="{{image.download_url}}">
                </div>
        </div>
    </div>
</div>
